/*------------------------------------------------------------------
  	[Colors]
------------------------------------------------------------------*/

.color-primary {
    color: $color-primary;
}

.color-secundary {
    color: $color-secundary;
}

.color-white {
    color: $color-white;
}

.color-gray {
    color: $color-gray
}