/*------------------------------------------------------------------
  	[Variables]
------------------------------------------------------------------*/

// Font-Family
$font-family-bold: Montserrat-bold,
sans-serif !default; // Montserrat Bold font family

$font-family-italic: Montserrat-italic,
sans-serif !default; // Montserrat italic font family

$font-family-light: Montserrat-light,
sans-serif !default; // Montserrat light font family

$font-family-medium: Montserrat-medium,
sans-serif !default; // Montserrat medium font family

$font-family-regular: Montserrat-regular,
sans-serif !default; // Montserrat Regular font family

$font-family-semibold: Montserrat-semibold,
sans-serif !default; // Montserrat semibold font family


// Colors
$color-primary:#062f4f !default;

$color-secundary:#459fdd !default;

$color-white: #fff !default;

$color-gray: gray !default;